<html>
  <head>
  </head>
  <body background="assets/FLO52A.JPG">
    <h2 align="center">Angular JS</h2>
    <table align="center">
      <tr>
        <td> <a href="#" >Home &nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td><a href="#">About us &nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td><a href="#">Contact us &nbsp;&nbsp;&nbsp;&nbsp;</a></td>
      </tr>
    </table> 
  <app-home></app-home>
  <app-aboutus></app-aboutus>
  <app-contactus></app-contactus>
  
</body>

</html>
<footer style="text-align:center;text-decoration-color: blanchedalmond">
  Developed by: Linsa Lison</footer>